@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;
}

.navbar {
    display: flex;
    background-color: #2c3e50;
    color: white;
    justify-content: left;
    align-items: center;
    position: sticky;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 1000;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    padding: 20px;
}

.todo {
    display: flex;
    width: 100%;
    background-color: #7daede;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

.todoCard {
    position: relative;
    background-color: #bdc3c7;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.todoCard:hover{
    transform: scale(1.01);
}

.removeList {
    padding: 12px;
    bottom: 30px;
    right: 30px;
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.removeList:hover{
    transform: scale(1.10);
}

.addButton {
    position: fixed;
    background-color: #ff1900;
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.addButton:hover {
    opacity: 0.8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.overLay {
    z-index: 1;
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.insertList {
    z-index: 2;
    display: none;
    flex-direction: column;
    background-color: #2980b9;
    height: 300px;
    width: 400px;
    border-radius: 15px;
    padding: 15px;
    justify-content: center;
    position: absolute;
    top: 35%;
}

.inputList {
    padding: 10px;
    margin-bottom: 25px;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 100%;
}

.inputList::placeholder {
    color: white;
    opacity: 0.8;
}

.labelText {
    color: white;
    margin-bottom: 3px;
    user-select: none;
}

#descriptionBox {
    height: 60px;
}

.inputList:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: 0.3s ease-in-out;
}

.addList-btn,
.closeList-btn {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out all;
}

.insertListBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.closeList-btn:hover,
.addList-btn:hover {
    background-color: #e74c3c;
    color: white;
    transform: scale(1.15);
}

.titleStyle,
.descriptionStyle {
    padding: 20px;
}

